# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.metadata/
/Servers/
/RemoteSystemsTempFiles/
/**/.settings/
/**/.classpath
/**/.springBeans
/**/.project
/**/target/
/**/bin/
/**/test-output/
/**/.checkstyle
/**/.eclipse-pmd
/**/*.log
/gs-consuming-web-service-complete
/gs-producing-web-service-complete
/03-ws/0301-ws-xmlconfig-service/src/main/java/localhost/*
/03-ws/0302-ws-javaconfig-service/src/main/java/localhost/*
/03-ws/0303-ws-boot-service/src/main/java/localhost/*
/03-ws/0307-ws-soapaction-service/src/main/java/localhost/*
