# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.metadata/
/Servers/
/RemoteSystemsTempFiles/
/**/.settings/
/**/.classpath
/**/.springBeans
/**/.project
/**/target/
/**/bin/
/**/test-output/
/**/.checkstyle
/**/.eclipse-pmd
/**/*.log
/gs-consuming-web-service-complete
/gs-producing-web-service-complete
