<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>0205-http-invoker-servlet-xml-config</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:server-config.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>barExporter</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>barExporter</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>