<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xsi:schemaLocation="http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

  <jms:annotation-driven />

  <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    <property name="brokerURL" value="tcp://localhost:61616" />
  </bean>

  <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">
    <constructor-arg value="messageQueue" />
  </bean>

  <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <constructor-arg ref="connectionFactory" />
  </bean>
  
  <jms:listener-container>
    <jms:listener destination="messageQueue" ref="simpleMessageListener"/>
  </jms:listener-container>
  
  <bean id="simpleMessageListener" class="net.lkrnac.book.eiws.chapter05.SimpleMessageListener">
    <constructor-arg ref="simpleMessageHandler" />
  </bean>

  <bean class="net.lkrnac.book.eiws.chapter05.SimpleMessageSender">
    <constructor-arg ref="jmsTemplate"/>
  </bean>

  <!-- lets create an embedded ActiveMQ Broker -->
  <amq:broker>
    <amq:transportConnectors>
      <amq:transportConnector uri="tcp://localhost:61616" />
    </amq:transportConnectors>
  </amq:broker>

  <!-- ActiveMQ destinations to use -->
  <amq:queue id="destination" physicalName="messageQueue" />
</beans>
